body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0e0e0e;
  color: white;
  text-align: center;
}

/* HEADER */
header {
  background: #ff7a18;
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
}

/* MENU */
nav {
  background: #111;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffa500;
}

/* CONTENU */
.container {
  padding: 20px;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  margin: 15px auto;
  border-radius: 10px;
  max-width: 500px;
}

audio, video {
  width: 100%;
  margin-top: 10px;
}
.video-box {
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  background: #111;
  border-radius: 10px;
}

.video-box p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}.music-card {
  max-width: 300px;
  margin: 20px auto;
  background: #111;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.music-card img {
  width: 100%;
  border-radius: 10px;
}

.music-card h3 {
  margin: 10px 0 5px;
}

.music-card p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #ccc;
}

audio {
  width: 100%;
}
.page-title {
  text-align: center;
  margin: 20px 0;
}

.music-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 10px;
}

.music-card {
  background: #111;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.music-card img {
  width: 100%;
  border-radius: 12px;
}

.music-card h3 {
  margin: 10px 0 5px;
}

.music-card p {
  margin: 0 0 10px;
  color: #ccc;
}

.music-card audio {
  width: 100%;
}


